.main {
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  min-height: 100vh;
}

/* /////////////////////////////////////////////////////////// */

.hero{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero__slider__container{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.hero__slider{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .7s ease-in-out ;
  transition-delay: .3s;
}
.hero__slide{
  position: relative;
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
}
.hero__slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(65%);
}

.hero__slider__btn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.hero__slider__btn button{
  font-size: 50px;
  background-color: transparent;
  outline: none;
  border: none;
  color: #ffffff55;
  transition: .3s;
}
.hero__slider__btn button:hover{
  color: #fff;
}
.prev{
  left: 10px;
}
.next{
  right: 10px;
}
.hero__slide__content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero__slide__content h1{
  font-size: 3rem;
  letter-spacing: .3rem;
  margin-bottom: 20px;
}
.hero__slide__content p{
  max-width: 450px;
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.hero__slide__content button{
  padding: 10px 30px;
  border: 2px solid #307dab;
  outline: none;
  border-radius: 999px;
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: .5s;
}
.hero__slide__content button:hover{
  background-color: #307dab;
  color: #fff;
}