.main {
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  min-height: 100vh;
}

/* /////////////////////////////////////////////////////////// */

.hero{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero__slider__container{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.hero__slider{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .7s ease-in-out ;
  transition-delay: .3s;
}
.hero__slide{
  position: relative;
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
}
.hero__slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(65%);
}

.hero__slider__btn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.hero__slider__btn button{
  font-size: 50px;
  background-color: transparent;
  outline: none;
  border: none;
  color: #ffffff55;
  transition: .3s;
}
.hero__slider__btn button:hover{
  color: #fff;
}
.prev{
  left: 10px;
}
.next{
  right: 10px;
}
.hero__slide__content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero__slide__content h1{
  font-size: 3rem;
  letter-spacing: .3rem;
  margin-bottom: 20px;
}
.hero__slide__content p{
  max-width: 450px;
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.hero__slide__content button{
  padding: 10px 30px;
  border: 2px solid #307dab;
  outline: none;
  border-radius: 999px;
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: .5s;
}
.hero__slide__content button:hover{
  background-color: #307dab;
  color: #fff;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////// */

.everything{
  width: 100%;
  padding: 50px 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.everything__con{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.everything__con__l{
  width: 40px;
  height: 40px;
}
.everything__con__l img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.everything__con__r{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
}
.everything__con__r h3{
  font-size: 1rem;
}
.everything__con__r p{
  font-size: .9rem;
}


/* /////////////////////////////////////////////////////////////////////////////////////////////////// */

/* .welcome{
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 50vh;
  background-color: red;
}
.welcome__img{
  position: relative;
  width: 100%;
  height: 100%;
}
.welcome__img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
}
.welcome__text{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  color: #fff;
} */


/* /////////////////////////////////////////////////////////////////////////////////////////////////// */
.welcome{
  background-color: #eee;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
  padding: 50px 100px;
}
.welcome__l{
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.welcome__img{
  width: 500px;
  height: 500px;
  overflow: hidden;
  border-radius: 30px;
  transition: .3s;
}

.welcome__img__inner{
  width: 100%;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
}
.welcome__img__inner img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .3s;
}

.welcome__r{
  flex: 1;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.welcome__title{
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.welcome__r p{
  /* max-width: 550px; */
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: justify;
  text-justify: inter-word;
}
.welcome__btn{
  margin-top: 20px;
  width: fit-content;
  padding: 10px 30px;
  border: 2px solid #307dab;
  outline: none;
  border-radius: 999px;
  background-color: transparent;
  color: #307dab;
  font-size: 1rem;
  cursor: pointer;
  transition: .5s;
}
.welcome__btn:hover{
  background-color: #307dab;
  color: #fff;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////// */

/*///////////////////////////////////////////////////////////////////// @media queries //////////////////////////////////////////////////////////////*/ 


@media only screen and (max-width: 599px){
  .hero__slide__content h1{
    font-size: 2rem;
    letter-spacing: .1rem;
    margin-bottom: 20px;
  }
  .hero__slide__content p{
    font-size: 1rem;
  }
  .everything{
    padding: 50px;
    justify-content: center;
  }
  .welcome{
    flex-direction: column;
    padding: 50px;
  }
  .welcome__img{
    width: 100%;
    height: 300px;
  }
  .welcome__r{
    align-items: center;
  }
  .welcome__text{
    font-size: 1.2rem;
    padding: 0 50px;
  }
  .welcome__title{
    font-size: 1.2rem;
    text-align: center;
  }
}
@media only screen and (min-width: 600px) and (max-width: 768px){
  .everything{
    padding: 50px;
  }
  .welcome{
    flex-direction: column;
    padding: 50px;
  }
  .welcome__r{
    align-items: center;
  }
  .welcome__text{
    font-size: 1.5rem;
    padding: 0 100px;
  }
  .welcome__title{
    text-align: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px){
  .welcome{
    flex-direction: column;
  }
  .welcome__r{
    align-items: center;
  }
  .welcome__text{
    font-size: 1.5rem;
    padding: 0 100px;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1200px){
  .welcome__text{
    font-size: 1.5rem;
    padding: 0 100px;
  }
  .welcome__img{
    width: 400px;
    height: 500px;
  }
}