.main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


.hero{
    /* background-color: #000; */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  .hero__img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    transform: translateY(30%);
    overflow: hidden;
    z-index: 1;
    animation: heroEnter 1s ease-in-out;
  }
  @keyframes heroEnter{
    0%{
      scale: 1.5;
    }
    100%{
      scale: 1;
    }
  }
  .hero__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .hero__text{
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    padding:  50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, #307dab , transparent 70%);
    color: #fff;
  }
  .hero__text__title{
    max-width: 60%;
    text-align: center;
    font-size: 5rem;
    font-weight: 300;
    line-height: 5rem;
  }
  /* //////////////////////////////////////////////////////////////////////////////////////////////// */

.service{
    width: 100%;
    padding: 0 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service__desc{
    max-width: 80%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 2rem;
    margin: 50px 0;
}
.service__list{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.service__item{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
}
.service__item__img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.service__item__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s ease-in-out;
}
.service__item:hover .service__item__img img{
    transform: scale(1.1);
    filter: blur(5px);
}
.service__item__content{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #00000088;
    padding: 20px;
}
.service__item__border{
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: #fff;
}
.service__item__border h3{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
    text-align: center;
}
.service__item__border p{
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
    text-align: center;
    hyphens: auto;
}




/*///////////////////////////////////////////////////////////////////// @media queries //////////////////////////////////////////////////////////////*/ 


@media only screen and (max-width: 599px){
    .hero{
      height: 500px;
    }
    .hero__text{
      padding: 20px;
    }
    .hero__text__title{
      font-size: 2.5rem;
      line-height: 2.5rem;
      max-width: 100%;
    }
    .service{
        padding: 50px 20px;
    }
    .service__desc{
        max-width: 100%;
        text-align: justify;
        hyphens: auto;
    }
    .service__item__border p{
        text-align: justify;
    }
  }
  @media only screen and (min-width: 600px) and (max-width: 768px){
    .hero{
      height: 500px;
    }
    .hero__text{
        padding: 20px;
    }
    .hero__text__title{
        max-width: 100%;
    }
    .service__desc{
        max-width: 100%;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1000px){

  }
  @media only screen and (min-width: 1000px) and (max-width: 1200px){

  }